header {
    text-align: center;
    background-color: rgb(243, 116, 116);
    padding: 10px;
}
header h1 {
    color: #000000; 
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    
    
}
main div {
    padding: 5px;
    text-align: center;
    background-color: chocolate;
}

input[type=button] {
    /* border-style: none; */
    border-color: white;
    border-radius: 4px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(235, 160, 20);
}
input[type=button]:hover {
    border-color: rgb(204, 204, 204);
}