

body {
    background: rgb(100,200,0);
}

header {
    text-align: center;
    margin: 0px;
    background-color: rgb(49, 47, 79);
}

header * {
    background-color: azure;
}

header h1 {
    margin: 0px;
    padding: 10px;
    color: rgb(245, 210, 158);
    background-color: rgb(49, 47, 79);

}

p {
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: beige;
}

.color {
    
    display: flex;
    flex-direction: column;
    margin: 0 auto;  
    align-items: center;
}

#value label {
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}

.color input {
    background-color: dimgrey;
}
.color input:hover {
    background-color: rgb(117, 117, 117);
}
.color input:active {
    background-color: rgb(87, 87, 87);
}