
.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    
    background-color: aquamarine;
}

.grid div {
    width: 20px;
    height: 20px;
}

.mini_grid {
    margin-left: 20px;
    width: 40px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    
    background-color: aquamarine;
}

.mini_grid div {
    width: 10px;
    height: 10px;
}


.tetromino {
    background-color: coral;
}