

#coin {
    margin: 50px;
}



#bet-feedback {
    color: lightgreen;
    font-size: small;
    opacity: 0.0;

    /* animation-name: flash; */
    animation-duration: 4s;
}

#renderer {
    width: 70%;
    height: 70%;
}