@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html {
    height: 100%;
}

body {
    background-color: black;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;

    height: 100%;
    margin: 0;
}

/* General elements */
button {
    color: white;
    background-color: black;
    border-color: rgb(130, 19, 19);
}

h1 {
    font-size: xx-large;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

p, li {
    font-size: x-large;
}

a {
    color:firebrick
}

.info {
    position: fixed;
    left: 10px;
    top: 10px;
}

/* Info box styles */
#imgloaded {
    top: auto;
    bottom: 0;
    color: white;
}
#imgloaded p {
    font-size: xx-small;
    font-family: 'Courier New', Courier, monospace;
}
#fullscreen-load {
    left: auto;
    right: 10px;
    color: white;
}
#fullscreen-load p {
    font-size: small;
    font-family: 'Courier New', Courier, monospace;   
}
#controls {
    visibility: hidden;

    left: auto;
    top: auto;
    right: 10px;
    bottom: 10px;

    z-index: 1;
}
#controls button {
    width: 75px;
    height: 50px;
    font-size: larger;
    font-weight: bolder;
}

/* Slide stuff */
#fullscreen {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.slide {
    visibility: hidden;
    display: none;

    background-color: rgb(255, 252, 229);

    /* width: 70%; */

    padding: 10px;
    padding-right: 0;

    /* scale: 1.4; */
}
.slide h1 {
    color: black;
    font-size: xx-large;

    max-width: 40vw;
    padding-left: 20px;
}

.slide img {
    max-height: 50vh;
    max-width: 40vw;

    border-radius: 20px;
    border: solid black 2px;
}

.slide p {
    max-width: 40vw;
}

.slide .l {
    margin-right: 40px;
}


.slide .r {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;

    max-width: 400px;
}