body {
    flex-direction: column;
}

#lookyhere {
    margin: auto;
}

#intro {
    
    margin: 0px;
    background-color: aliceblue;
}

p {
    font-size: 26px;
    margin: 0px;
}

#logo {
    position: fixed;
    margin: 15px;
    margin-left: 30px;
}