body {
    background-color: rgb(9, 7, 0);
}

button {
    background-color: rgb(34, 14, 0);
    color: white;
}
input {
    background-color: rgb(34, 14, 0);
    color: white;
}

#top {
    background-image: linear-gradient(to right, rgb(9, 7, 0), rgb(34, 14, 0), rgb(9, 7, 0));
}

#intro {
    border-bottom: solid rgba(255, 255, 0, 0.1) 2px;
    border-radius: 1vh;
}

.cat-words {
    background-color: rgb(17, 31, 0);
    border-bottom: solid rgba(48, 73, 0, 0.5) 2px;
    border-radius: 1vh;

    /* width: 400px; */
}

.cat-words .title {
    height: 4vh;
    
}

.cat-words .title a {
    cursor: pointer;
}



#info {
    visibility: hidden;
}

#content {
    visibility: hidden;

    max-width: 800px;
    text-indent: 2vh;

    margin: 4vh;

    /* background-color: black; */
}

#panel {
    position: absolute;
    left: 0;
    margin: 10px;
}
#panel-b {
    position: absolute;
    right: 0;
    margin: 10px;

    visibility: hidden;
}

#desk {
    visibility: hidden;
    display: none;
}

#desk textarea {
    resize: none;
    width: 90%;
    background-color: rgb(9, 7, 0);
    color: white;
}