@font-face {
    src: url(aracne.otf);
    font-family: "crazy";
}

body {
    background-color: black;
    background-image: url(adminbg.png);
    background-size: 100%;
    font-family:"crazy";
}

p {
    color: white;
    font-size: 200%;
}

h1 {
    color: white;
    font-size: 400%;
}

.page-content {
    background: linear-gradient(to bottom, #74b9e7 0%, #6b91e279 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 1%;
    width: 75%;
    justify-content: center;
    flex-wrap: wrap;
}

.settings-content {
    border: 4px solid rgb(0, 0, 0);
    border-radius: 32px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    max-width: 100%;
    margin: 1%;
    flex-wrap:wrap;
}

button {
    border: 4px solid rgb(0, 183, 255);
    border-radius: 32px;
    background-color: rgb(0, 183, 255);
    font-size: 150%;
    color: white;
    justify-content: center;
}

button:hover{
    border: 4px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    font-size: 150%;
    color: rgb(19, 188, 255);
    animation: popout 0.4s forwards;
}

input {
    border: 0px solid rgba(85, 85, 85, 0.486);
    border-radius: 8px;
    background-color: rgba(85, 85, 85, 0.486);
    font-size: 150%;
    color: white;
}

input:hover{
    border: 0px solid rgba(255, 255, 255, 0.486);
    background-color: rgba(255, 255, 255, 0.815);
    font-size: 150%;
    color: rgb(31, 31, 31);
    animation: popoutsmall 0.4s forwards;
}

#modify-user {
    border: 4px solid rgb(0, 81, 255);
    border-radius: 32px;
    background-color: rgb(0, 81, 255);
    font-size: 200%;
    max-width: 10%;
    color: white;
    justify-content: center;
    margin-top:1%;
}

#login-feedback {
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes flash-error {
    0% { opacity: 1.0; color: red; }
    10% { opacity: 1.0; color: rgb(212, 0, 0); }
    20% { opacity: 1.0; color: red; }
    30% { opacity: 1.0; color: rgb(212, 0, 0); }
    40% { opacity: 1.0; color: red; }
    50% { opacity: 1.0; color: rgb(212, 0, 0); }
    60% { opacity: 1.0; color: red; }
    70% { opacity: 1.0; color: rgb(212, 0, 0); }
    80% { opacity: 1.0; color: red; }
    90% { opacity: 0.75; color: rgb(255, 0, 0); }
    100% { opacity: 0.0; color: red; }
}

@keyframes flash-success {
    0% { opacity: 1.0; }
    10% { opacity: 1.0; }
    80% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

@keyframes popout {
    0% { scale: 1.7; }
    25% { scale: 1.2; }
    50% { scale: 1.3; }
    100% { scale: 1.3; }
}

@keyframes popoutsmall {
    0% { scale: 1; }
    10% { scale: 1.05; }
    100% { scale: 1.05; }
}

@keyframes popin {
    0% { scale: 1.2; }
    100% { scale: 1; }
}


#login-feedback {
    color: lightgreen;
    font-size: small;
    opacity: 0.0;

    /* animation-name: flash; */
    animation-duration: 2s;
}