header {
    text-align: center;
    background-color: rgb(37, 37, 37);
    padding: 10px;
    box-shadow: 0 0 8px 2px #000000;
    
}
header h1 {
    color: aquamarine;
    /* text-shadow: 0 0 20px; */
    font-size: 50px;
}

main {
    margin: 30px;
    color: azure;
}
.focus {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div div {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 0 7px 0px #000000;
    text-shadow: 0 0 2px;
    margin: 20px;
    width: 50%;

}
.notes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.notes div {
    padding-bottom: 30px;
    width: 30%;
}
.notes p {
    text-decoration: underline;
}
li {
    text-align: left;
}

.link {
    color: #80ffd4;
    background-color: black;
    border: 2px;
    border-style: solid;
    border-radius: 4px;
}

