@font-face {
    font-family: crazy;
    src: url(Whacky_Joe.ttf)
}

* {
    font-family: 'crazy';
    /* cursor: url('../tetris/assets/favicon.png'), default; */
    --bgc: rgb(20,20,25);
}

body {
    background-image: url(blankroom.png);
    background-size:cover;
    color: rgb(0, 0, 0);
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

header {
    font-family: 'crazy', Courier, monospace
}

footer {
    border-top: 1px solid rgb(63, 63, 63);
    font-size: xx-small;
}

#separator {
    border-top: 1px solid rgb(63, 63, 63);
}

.link {
    text-decoration: none;
    border: rgb(128, 128, 128) solid 2px;
    border-style: dashed;
    padding: 5px;
}

.page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
    margin-top:2%;
    min-width: 90%;
}

.container {
    position: relative;
    text-align: center;
  }

.paper-text {
    position: absolute;
    top: 24px;
    left: 48px;
  }

.userpage-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32px;
    align-items: center;
    justify-content: left;
    background-color: rgb(231, 231, 231);
    padding: 16px;
}

.userpage-settings {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32px;
    align-content: center;
    justify-content: center;
    margin-top: 100%;
}

#user {
    text-align: center;
}
#highscores p {
    text-align:left;
}

.blog-feed {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content:center;
}

#news-post {
    color:rgb(255, 174, 0);
    background-color: #8A2BE2;
    width: 30%;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    border-style:ridge;
    align-content: center;
}
#news-post img {
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 7px 7px rgba(0,0,0,0.5);
    width: 15%;

}

#news-game {
    color:rgb(0, 255, 13);
    background-color: #21a33d;
    width: 30%;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    border-style:ridge;
    align-content: center;
}
#news-game img {
    padding: 5px;
    border-color: #1a8130;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 7px 7px rgba(0,0,0,0.5);
    width: 15%;

}



@keyframes flash-error {
    0% { opacity: 0.0; color: red; }
    10% { opacity: 1.0; }
    80% { opacity: 1.0; }
    100% { opacity: 0.0; color: red; }
}

@keyframes flash-success {
    0% { opacity: 0.0; }
    10% { opacity: 1.0; }
    80% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

#login-feedback {
    color: lightgreen;
    font-size: small;
    opacity: 0.0;

    /* animation-name: flash; */
    animation-duration: 4s;
}

